@import 'styles/variables';

.formGroup {
  text-align: left;
  margin-bottom: $default-spacing;

  label {
    display: block;
    margin-bottom: $xxsmall-spacing;
  }

  input[type='text'] {
    border: 1px solid $color-gray-300;
    border-radius: $default-border-radius;
    width: 100%;
    padding: $xsmall-spacing;
    transition: all $default-animation;
    font-size: $default-font-size;
    box-sizing: border-box;

    &:focus {
      border: 1px solid $color-primary;
      box-shadow: 0 5px 10px 0 rgba(black, 0.05), 0 2px 5px 0 rgba(black, 0.1);
      outline: none;
    }
  }

  &.valid {
    input,
    input:focus {
      border-color: $color-green;
    }

    .formField {
      &::before {
        content: '';
        background: url('checkmark.svg') no-repeat center center;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: $xsmall-spacing;
      }
    }
  }

  .checkboxField {
    display: flex;
    flex-direction: row;
    label {
      margin-left: $xsmall-spacing;
    }
  }

  &.invalid {
    color: $color-red;

    input,
    input:focus {
      border-color: $color-red;
    }
  }
}

.formField {
  position: relative;
}

.formError {
  color: $color-red;
  margin-top: $xxsmall-spacing;
}

.formHelp {
  margin-top: $xxsmall-spacing;
  color: $color-gray-300;
  font-size: $xsmall-font-size;
}
