@import 'styles/variables';

.logEntry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  & span {
    margin-right: $default-spacing;
  }

  strong {
    word-break: break-all;
  }

  .errorLog {
    color: red;
  }
}
